<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Create vendor</title>
</head>
<body>
    <pre>
        <form action="saveVendor" method="POST">
            <span>Code:</span><input type="text" name="code"/>
            <span>Name:</span><input type="text" name="name"/>
            <span>Type:</span><select name="type">
                <option>Regular</option>
                <option>Contract</option>
            </select>
            <span>Email:</span><input type="text" name="email"/>
            <span>Phone:</span><input type="text" name="phone"/>
            <span>Address:</span><textarea rows="4" name="address"></textarea>
            <input type="submit" value="save">
        </form>
        <b th:text="${msg}"></b>
        <a href="displayVendors">View all vendors</a>
    </pre>
</body>
</html>