<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display vendors</title>
</head>
<body>
    <h2>Vendors</h2>
    <table>
        <tr>
            <th>id</th>
            <th>code</th>
            <th>name</th>
            <th>type</th>
            <th>email</th>
            <th>phone</th>
            <th>address</th>
        </tr>
        <tr th:each="vendor:${vendors}">
            <td th:text="${vendor.id}"></td>
            <td th:text="${vendor.code}"></td>
            <td th:text="${vendor.name}"></td>
            <td th:text="${vendor.type}"></td>
            <td th:text="${vendor.email}"></td>
            <td th:text="${vendor.phone}"></td>
            <td th:text="${vendor.address}"></td>

            <td><a th:href="@{'deleteVendor?id=' + ${vendor.id}}">delete</a></td>
            <td><a th:href="@{'showUpdate?id=' + ${vendor.id}}">edit</a></td>
        </tr>
    </table>
    <a href="showCreate">Add vendor</a>
</body>
</html>