<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Create vendor</title>
</head>
<body>
<pre>
        <form action="updateVendor" method="POST">
            <span>Id:</span><input type="text" name="id" th:value="${vendor.id}" readonly="readonly"/>
            <span>Code:</span><input type="text" name="code" th:value="${vendor.code}"/>
            <span>Name:</span><input type="text" name="name" th:value="${vendor.name}"/>
            <span>Type:</span><select name="type">
                <option th:selected="${vendor.type} == 'Regular'">Regular</option>
                <option th:selected="${vendor.type} == 'Contract'">Contract</option>
            </select>
            <span>Email:</span><input type="text" name="email" th:value="${vendor.email}"/>
            <span>Phone:</span><input type="text" name="phone" th:value="${vendor.phone}"/>
            <span>Address:</span><textarea rows="4" name="address" th:text="${vendor.address}"></textarea>
            <input type="submit" value="save">
        </form>
        <a href="displayVendors">View all vendors</a>
    </pre>
</body>
</html>
